@import './graph';
@import './slide';

$unit: 32px;
$unit-xs: 4px;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(black, black);
  color: white;

  font-size: 40px;
  line-height: 1.8em;

  font-family: Open Sans;
}

h1 {
  font-weight: lighter;
  text-transform: uppercase;
}

.impress-enabled {
  .step {
    transition: opacity .5s;
    //opacity: .0;

    &.active {
      opacity: 1;
    }
  }
}

.slide {
  &.full-bleed {
    height: 100vh;
    width: 100vw;
  }
}

.device {
  $height: 4 * $unit;
  $width: 2 * $unit;

  position: relative;
  width: $width;
  height: $height;

  border: solid 2px white;
  padding: $unit-xs;

  .screen {
    width: 100%;
    height: 100%;
    background: whitesmoke;
  }

  .speaker {
    position: absolute;
    width: $width / 3;

    height: $unit-xs;
    background: black;
  }

  .home {
    width: $unit-xs * 3;
    height: $unit-xs * 3;

    border-radius: 100%;

    background: black;
    margin-bottom: $unit-xs;
  }
}

.arrow {
  position: relative;
  background: white;
  height: $unit-xs;
  width: $unit * 2;

  margin: $unit;

  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: $unit / 2;
    height: $unit-xs * 3;
    background: white;

    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    left: 100%;
    top: -100%;
  }

  &.arrow-right {
    transform: translate($unit / 2) scaleX(-1);
  }
}

[flex-row] {
  display: flex;
  flex-direction: row;
}

[flex-column] {
  display: flex;
  flex-direction: column;
}

[flex-center] {
  align-items: center;
  justify-content: center;
}

[flex-padding] > * {
  margin: $unit-xs;
}

[flex] {
  flex: 1;
}

.floating {
  animation: floating 3s infinite;
}

.word-cloud {
  position: absolute;
  left: -100%;
  top: -100%;

  opacity: .2;
  filter: grayscale(1);
  transform: rotate(0deg) scale(2) translate(20px, 0px);
}

.wide {
  display: block;
  width: 700px;
}

.widest {
  width: 1200px;
}

.customers {
  & > * {
    filter: grayscale(1) contrast(.5);
    margin: $unit;
  }
}

.text-center {
  text-align: center;
}

a {
  color: mediumblue;

  &.xs {
    font-size: .6em;
  }

  &.white {
    color: gray;
  }
}

table {
  &.links {
    td:first-child {
      text-align: right;
    }
  }
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
