doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Serverless & IoT
    link(rel="stylesheet", href="css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800", rel="stylesheet")

    script(src='https://d3js.org/d3.v4.min.js')
    script(src='/js/lib/d3-transform.js')
  body
    #impress

      // Intro
      include steps/intro

      include steps/simple
      include steps/simple-detais

      // About company and platform
      include steps/evrythng

      include steps/wot
      include steps/wot-details

      include steps/paas
      include steps/paas-details

      include steps/customers
      include steps/customers-details

      include steps/evrythng-2
      include steps/links

      include steps/where-is-serverless

      include steps/solution
      include steps/where-is-serverless-2

      // Lambda details
      include steps/lambda-is-stateless
      include steps/lambda-is-not-stateless
      include steps/lambda-scales-well
      include steps/lambda-not-scales-well
      include steps/lambda-is-ram-driven
      include steps/lambda-focus-on-optimizations
      include steps/lambda-easy-to-redeploy
      include steps/lambda-is-regional
      include steps/lambda-hard-to-debug

      include steps/simple
      include steps/lambda-details

      // Final
      include steps/intro
      include steps/qa


    script(src="js/impress.js")
    script.
      const api = impress();
      api.init();
      document.body.addEventListener('impress:stepEnter', console.log);
