.step.slide.secret(data-x="1200", data-y="400" data-z='-300' data-scale='.2' data-rotate='-5')
  container.customers(flex-column flex-padding)
    img(
      src='http://diylogodesigns.com/blog/wp-content/uploads/2016/04/Coca-Cola-Logo-PNG.png'
      width=250
    )
    img(
      src='http://nextshoot.com/clientlogos/LVMH-white.png'
      width=250
    )
    img(
      src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/General_Electric_logo.svg/600px-General_Electric_logo.svg.png'
      width=250
    )
    img(
      src='https://vignette.wikia.nocookie.net/logopedia/images/7/7a/Unilever_logo_2004.png/revision/latest/scale-to-width-down/433?cb=20101225200412'
      width=250
    )