.step.slide.secret(data-x="1200", data-y="400" data-z='-300' data-scale='.2' data-rotate='-5')
  container.customers(flex-column flex-padding)
    img(
      src='http://diylogodesigns.com/blog/wp-content/uploads/2016/04/Coca-Cola-Logo-PNG.png'
      width=250
    )
    img(
      src='http://nextshoot.com/clientlogos/LVMH-white.png'
      width=250
    )
    img(
      src='https://vignette.wikia.nocookie.net/logopedia/images/0/0b/Avery_Dennison.svg/revision/latest?cb=20150612221021'
      width=250
    )