.step.slide(data-x="1000", data-y="200" data-scale='2')
  container.word-cloud
    include ../parts/wot.svg

  img.floating(src='https://evrythng.com/wp-content/themes/evrythng/img/logo-2x.png' style='filter: invert(100) contrast(2)')