.step.slide.secret(data-x="1000", data-y="-1280" data-scale=.6)
  container.wide(flex-column flex-padding flex-center)
    table.summary
      tr
        td.text-right Lambda is stateless
        td Normalize
        td.text-right Lambda is stateful
        td Cache

      tr
        td.text-right Lambda scales well
        td Benefit from payg
        td.text-right Lambda does not scale well
        td Time guards

      tr
        td.text-right Lambda is RAM driven
        td Faster might be cheaper
        td.text-right Lambda charged per duration
        td Optimize

      tr
        td.text-right Lambda is easy to redeploy
        td Pack data into the bundle
        td.text-right Lambda is regional
        td Make it closer

      tr
        td
        td.text-right Lambda is hard to debug
        td Utilize tooling
        td