.step.slide.secret(
  data-x=1100
  data-y=0
  data-z=-450
  data-scale=.4
)
  p
    span Lambda
    b &nbsp;not
    span &nbsp;scales well

  img(
    style='max-width: 100vw;'
    src='/img/not-scales-well.png'
  )