.step.slide.secret(
  data-x=1100
  data-y=0
  data-z=-450
  data-scale=.3
)
  p
    span Lambda does
    b &nbsp;not
    span &nbsp;scales well

  img(
    style='max-width: 100vw;'
    src='/img/spikes.png'
  )