.step.slide.secret(data-x="1000", data-y="200" data-z='-500' data-scale='.2')
  container.widest(flex-column flex-center style='font-size: .9em')
    table.links
      tr
        td
          span Basic:&nbsp;
        td
          a(href='https://evrythng.com/') https://evrythng.com/

      tr
        td
          span Developer Account:&nbsp;
        td
          a(href='https://dashboard-eu.evrythng.com') https://dashboard-eu.evrythng.com

      tr
        td
          span Developer Docs:&nbsp;
        td
          a(href='https://developers.evrythng.com/') https://developers.evrythng.com/