.step.slide.secret(data-x="1500", data-y="100" data-scale='.45' data-rotate='10' data-z='-500')
  container.widest
    p
      b Platform ⟶&nbsp;
      pre.
        thng-engine    | 20 main entities
        thng-access    | 5 pub API key types
        thng-push      | pub/sub for all main endpoints
        thng-scan      | product recognition engine
        thng-analytics | realtime data aggregations
        thng-schema    | enforce data structure
        thng-hub       | cloud in miniature
        thng-reactor   | customize it
        ...