.step.slide.secret(data-x="1000", data-y="-1300")
  container.wide(flex-column flex-padding flex-center)
    p.text-center
      span Who we are
    p.text-center
      span What we do
    p.text-center
      span Where serverless
    p.text-center
      span Lessons learned