.step.slide.secret(data-x="550", data-y="-50" data-scale='.5' data-z='-500')
  container.wide
    p
      b Web of Things ➞&nbsp;
      i How do we connect applications & things

    p
      b Internet of Things ➞&nbsp;
      i How do we connect things to the Internet?